:root {
    --cor-principal: #121010;
    --cor-secundaria:#f4f5f1;

    --cor-de-fundo: #6aaba3;

    --cor-terciaria:#547571;
    --cor-borda:#176e9c;

    --fonte-principal: "Cinzel", serif;
  
    --botao-azul-efeito: #3c92fa;
    --fonte-titulo: "Spirax", system-ui;
   
}




.sexto{
    text-align: center;
    margin-top: 20rem; 
    background-color:var(--cor-principal);

    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;

    margin-bottom: none;


    text-decoration: none;
    display: flex;
 
    
}

.rodape__logo{

   
    width: 150px;
    margin-top: 1rem; 
    margin-bottom: 0;
    text-align: center;   
    
}


.link_pagina {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 12px;
  
    font-weight: 700;
    padding: 20px;
    font-family: var(--fonte-principal);

    margin-top: none;
    font-size: 10px;
    font-style: italic;

}

.link_pagina:hover {
    text-decoration: underline;
}
.form-floating{
    padding: 10px;
}





